<%- include('partials/header-dashboard') -%>

<body>
  <main>
    <!--SM: I put a very basic layout so that it would be easier for people to insert their sections where specified and it will be a clean, unified look without CSS miscommunications and mishaps-->

    <body>
      <main>
        <!-- Isaiah's Contributions -->
        <!----------------SM: BOOTSTRAP CREATED TEMPLATE ------------------------>
        <div class="container-fluid">
          <div class="row top-area">
            <div class="col-md-6">
              <!----------------SM, SB: !!PLEASE REPLACE WITH PIE CHART!! ------------------------>
              <div id="pie-chart-area">
                <div id="chart"></div>
              </div>
            </div>

            <div class="col-md-6 total-amount-area horizontal align">
              <!----------------SM: !!PLEASE REPLACE WITH EXPENSES TOTAL AND BUTTONS!! ------------------------>

              <!----------------SM: add new expense and add new income buttons ------------------------>
              <div>
                <h3 id="total-amount">$4500.00</h3>
              </div>
              <div class="total-links">
                <a href="/expense" class="btn btn-primary">Expense</a>
                <a href="/income" class="btn btn-primary">Income</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!----------------JM, SB: INCOME TABLE TO POPULATE MONTHLY INCOME INPUTS ------------------------>
              <table class="table">
                <thead>
                  <tr>
                    <th>Month</th>
                    <th>Income</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <!-- DB CONTRIBUTION - SARAH B -->
                <tbody>
                  <tr>
                    <% for(let i=0; i < income.length; i++) { %>
                    <td><%= income[i].date %></td>
                    <td class="updateIncome"><%= income[i].income %></td>
                    <td data-id=<%= income[i]._id %>><button id="incomeTableEdit">Edit</button></td>
                    <td data-id=<%= income[i]._id %>><button id="incomeTableDelete">Delete</button></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <!----------------SM: !!PLEASE REPLACE WITH RECURRING BILLS TABLE!! ------------------------>
              <table class="table">
                <thead>
                  <tr>
                    <th>Date & Time</th>
                    <th>Expense</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                 <!-- DB CONTRIBUTION - SARAH B -->
                <tbody>
                  <tr>
                    <% for(let i=0; i < expense.length; i++) { %>
                    <td><%= expense[i].date %></td>
                    <td><%= expense[i].expenseName %></td>
                    <td><%= expense[i].expenseCost %></td>
                    <td><%= expense[i].category %></td>
                    <!--SM EDIT AND DELETE BUTTONS-->
                    <td>
                      <button class="editExpense" onclick="edit('<%= expense[i]._id %>')">
                        Edit
                      </button>
                    </td>

                    <td>
                      <button
                        class=""
                        onclick="deleted('<%= expense[i]._id %>')"
                      >
                        Delete
                      </button>
                    </td>
                    <!-- <td><button id="incomeTableEdit">Edit</button></td>
                      <td><button id="incomeTableDelete">Delete</button></td> -->
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </body>
    <%- include('partials/footer') -%>
  </main>
</body>
