<%- include('partials/header') -%>

<body id="feed">
  <a href="/logout" class="col-3 btn btn-outline-light">logout</a>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row pst-unstyled">
      </ul>
      
      <div class="left">
        <h2  class="pendorder">Pending Orders</h2>
        <section class="card">
          <% for (let i=0; i<pending.length; i++) {%>
            <h3 class="card-header">
              <%= pending[i].name%>
            </h3>
            <div class="order-container">
              <p>
                <%= pending[i].pending%>
              </p>
              <p>
                <%= pending[i].completed%>
              </p>
              <p>
                <%= pending[i].custom%>
              </p>
            </div>
            <form action="/post/complete/<%= pending[i].id %>?_method=PUT" method="POST" class="col-3">
              <button class="btn btn-outline-dark" type="submit">Complete</button>
            </form>
            <% } %>
        </section>
      </div>
      <div class="right d-flex flex-column border-end m-2 rounded text-center p-2">
        <h2 class="comporder">Complete Orders</h2>
        <section class="card">

          <% for (let i=0; i<done.length; i++) {%>
            <h3 class="card-header">
              <%= done[i].name%>
            </h3>
            <div class="order-container">
              <p>
                <%= done[i].order%>
              </p>
              <p>
                <%= done[i].custom%>
              </p>
              <p>
                <%= done[i].barista%>
              </p>
            </div>
            <form action="/post/deletePost/<%= done[i].id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-outline-dark" type="submit">Delete</button>
            </form>
            <% } %>
        </section>
      </div>
    </body>
      <%- include('partials/footer') -%>